.col{
    margin:0 auto;
    text-align:center;
}
.yt-video{
    display:inline-block;
    margin:0.5rem;
    width:560px;
    height:315px;
    max-width:100% !important;
    border-radius:0.75rem;
    position:relative;
}