:root{
    --carouselHeight: 75vh;
}
.carousel{
    height:var(--carouselHeight);
    overflow:hidden;
}
.carousel-inner{
    background-color:black;
}
.carousel-item img{
    height:var(--carouselHeight);
    object-fit: cover;
}
.carousel-item{
    transition:transform .6s ease-in-out, opacity 0.2s !important;
}
.carousel-item:hover{
    /*opacity:0.8;*/
}
.carousel-item h2{
    font-size:3rem;
    margin-bottom:0.125rem;
}
@media (max-width: 991px) {
    .carousel-item h2{
        font-size:2.5rem;
        margin-bottom:0.125rem;
    }
}
@media (max-width: 767px) {
    .carousel-item h2{
        font-size:2rem;
        margin-bottom:0.125rem;
    }
}
.carousel-caption{
    padding:0.75rem 1.5rem !important;
    background-color:rgba(0,0,0,0.5);
    border-radius: 1rem;
    backdrop-filter: blur(3px);
    left:50% !important;
    right:auto !important;
    top:50% !important;
    bottom:auto !important;
    transform:translate(-50%,-50%);
}
.carousel-caption p{
    margin:0;
}
.carousel-control-prev, .carousel-control-next{
    transition:transform 0.2s, background-color 0.2s !important;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    background-color:rgba(0,0,0,0.3);
    transform:scale(1.25);
}
.carousel-control-prev:active, .carousel-control-next:active{
    transform:scale(1.15);
}
.carousel-indicators{
    height:30px;
}
.carousel-indicators li{
    transition:height 0.2s !important;
}
.carousel-indicators li:hover{
    height:6px;
}
.carousel-indicators li.active{
    height:12px;
}